body {
  margin: 0;
  padding: 0;
  font-family: Myriad Pro, Open Sans, Helvetica Neue, sans-serif;
}

.App-logo {
  height: 70px;
  padding: 7px 30px;
}

.fa {
  padding: 0px 10px;
}

.fa-socials {
  color: white;
  padding: 20px 0px;
}

.App {
  background: #F0FFFF;
  height:auto;
}

.App .cta-button {
  margin-bottom: 100px;
}

.App .App-header {
  background: transparent;
}

.App .round-logo {
  display: none;
}

.App .topnav a {
  color: black;
}

.intro .avatar {
  padding: 0px 40px;
}

.App-header {
  background-color: #1B1A1A;
  /* background: linear-gradient(216deg, #d90b90, #bf06ac, #9f00cd); */
  padding: 10px 80px;
  color: white;
  height: 80px;
  text-align: center;
}

.App-header .logo-img {
  display: inline-block;
  float: left;
}

.App-header .fa-socials {
  display: inline-block;
  float: right;
}

.App-header .site-map {
  display: inline-block;
}

.app-intro {
  font-weight: normal;
}

.avatar-pic {
}

.App .topnav .black-logo {
  display: block;
}

.App .topnav .burger-menu {
  color: black;
  transition: all 2s ease-in-out;
  }

.topnav .black-logo {
  display: none;
}

.topnav ul {
  margin: 0px;
  padding: 30px 0px;
}

.topnav ul li {
  display: inline;
  padding: 0px 15px;
  margin: 0px;
  font-size: 1.3em;
}

.topnav ul li a:hover {
  color: #ddd;
}

.topnav a {
  color: white;
  text-decoration: none;
}

.burger-menu {
  padding: 20px 0px;
}

.App {
  text-align: center;
}

.App .app-intro {
  font-size: 36px;
}

.intro {
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro .intro-text {
  padding: 40px;
}


.intro-text h3 {
  float: right;
  margin: 60px 0px 10px 0px;
}
.intro-text p {
  font-size: 20px;
  margin: 0px;
  float: right;
  clear: both;
}

.cta-button {
  width: 30%;
  background-color: transparent;
  color: black;
  padding: 12px 5px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.cta-button:active {
  text-decoration: none;
  outline: none;
}

.cta-button:hover {
  background-color: black;
  border: none;
  color: black;
}

.cta-button a {
  text-decoration: none;
  color: white;
}
.cta-button:hover a {
  text-decoration: none;
}

.App .cta-button:hover {
  color: white;
}

.projects-page .cta-button {
  width: 40%;
  padding: 8px 3px;
  font-size: 14px;
  margin: 0px;
  outline: none;
}

.projects-page .cta-button:hover {
  cursor: pointer;
}

.projects-page .woman-emoji {
  border-bottom: 0.5px dotted black;
  cursor: pointer
}

.contact-page h1 {
  font-size: 2.75em;
  font-weight: 600;
  margin: 0px;
}

.contact-page .contact-form {
  /*border: 1px solid blue;*/
  padding: 40px;
  margin: 0px 20px;
  width: 600px;
}

.create-form input {
  width: 100%;
  height: 28px;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
}

.create-form input:focus {
  outline: none;
  font-size: 14px;
  border-bottom-width: 2px;
  padding: 8px;
  transition: ease-in-out 0.2s;
}

.create-form textarea {
  height: 160px;
  width: 100%;
  margin: 15px 0px 5px 0px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.create-form textarea:focus {
  outline: none;
  border-width: 2px;
  padding: 8px;
  font-size: 14px;
  transition: ease-in 0.2s;
}

.create-form div {
  padding-top: 30px;
}

.create-form div > label {
  font-size: 1.1em;
}

.create-form .error-message {
  color: red;
  font-size: 11px;
}

.create-form .success-message {
  color: black;
  font-size: 12px;
}

.create-form .submit-form {
  font-family: inherit;
  width: 40%;
  background-color: #1B1A1A;
  color: white;
  padding: 8px 5px;
  margin: 15px 0;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.create-form .submit-form:hover {
  background-color: rgba(27, 26, 26, 0.82);
}

.contact-page .location-details {
  margin: 0px 20px;
  padding: 100px 40px;
  text-align: left;
}

.contact-page .location-details .map-wrapper {
  padding-bottom: 10px;
}


.contact-page .location-details .contact-details p {
  margin: 5px;
}

.map-wrapper > div {
  height: 250px;
  width: 280px;
  border-radius: 10px;
  margin: 0px auto;
}

.footer {
  text-align: center;
  height: 40px;
  background-color: #1B1A1A;
  color: white;
  padding: 20px 20px 0px 20px;
}

.contact-page {
  color: #333333;
}

.projects-page {
  padding: 50px;
}

.resume-page {
  text-align: center;
  margin: 0px auto;
  padding: 20px 0px;
}

.resume-page .resume-pic {
  padding-top: 10px;
  border: 1px black solid;
}

.resume {
  padding: 10px 0px;
}

.resume > canvas {
  border: 3px solid #585858;
}

.resume-page .cta-button {
  width: 15%;
  color: #333333;
  padding: 8px 0px;
  margin: 8px 0;
  border: 1px solid;
  border-color: #333333;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.resume-page .cta-button:hover {
  background: linear-gradient(216deg, #DA0B8F, #bb05b0, #b003bb);
  color: white;
  border-color: white;
}

.projects-page .about-me {
  padding: 0px 30px;
  color: #333333;
}

.projects-page .about-me h1 {
  font-size: 2.75em;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.030em;
  margin: 0px;
}

.projects-page .about-me p {
  font-size: 1.2em;
}

.projects-page a {
  all: initial;
}

.projects-row .box {
  height: 340px;
  border-radius: 3px;
}

.projects-row .box:hover {
  cursor: pointer;
}

.projects-row .box {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 15px;
  flex: 30%;
}

.box > *{
    position:relative;
    z-index:1;
}

.box .project-name {
  font-size: 1.7em;
  opacity:1;
  color: white;
  text-align: center;
  z-index: 100;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.box .content {
  top: 43%;
}

.box:hover .content {
  top: 35%;
  transition: all 0.3s;
  z-index: 100;
}

.box .project-details {
  opacity:0;
  color: white;
  text-align: center;
  margin: 0px;
}

.box:hover .project-details {
  opacity: 1;
  transition: all 0.5s;
}

.box .project-details p {
  margin: 10px;
}

.box .project-details .description {
  font-size: 1.15em;
}

.box .project-details .role {
  font-size: 1em;
  font-weight: 200;
}

.box .project-details .stack {
  font-size: 0.9em;
}

.box:before{
    border-radius: 3px;
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:black;
    opacity:0.2;
    z-index:0;

}

.box:after {
    content:'';
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.box:hover:before{
  opacity: 0.2;
  transition: all 0.5s;
}

.projects-row .item {
  background-color: #222;
  position:relative;
}

.box:hover:after {
    opacity: 1;
    z-index: 10;
}

.projects-page .projects-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px;
  padding: 20px 0px;
}

.no-match {
  padding: 20px 40px;
  height: 600px;
  background-color: #fdfdfd;
  color: #333;
}

.vision-page {
  padding: 20px 0px;
  height: 650px;
  text-align: center;
}

/*FOR LARGE SCREENS ONLY*/

@media only screen  and (min-width: 999px) {

  .contact-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 30px 0px;
  }

  .app-intro .react-typeout {
    font-weight: 600;
  }

}

/*--------------- End of large screens*/

/* iPhone (up to 6+ ) and tablet*/
@media only screen  and (max-width: 999px) {
  .hide-sm{
    display: none !important;
  }

  .intro-text h3 {
    float: none;
  }
  .intro-text p {
    float: none;
  }

  .resume-page .cta-button {
    width: 20%;
    padding: 12px 0px;
  }

  .resume-page .resume-pic {
    height: 85%;
    width: 85%;
    padding-top: 10px;
  }

  .topnav .site-map {
    float: right;
  }

  .App-logo {
    padding: 7px 0px;
  }

  .intro {
    flex-direction: column;
    padding: 40px 0px 0px 0px;
  }

  .intro .avatar-pic {
    width: 200px;
    height: auto;
  }

  .intro h1 {
    margin-bottom: 0px;
  }

  .intro h3 {
    margin-top: 0px;
  }

  .App-header {
    padding: 10px 60px;
  }

  .projects-page {
    padding: 40px 20px;
  }

  .projects-page .about-me h1 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.035em;
  }

  .projects-page .about-me p {
    font-size: 1.2em;
    margin: 10px 0px;
  }

  .contact-page .contact-form {
    width: auto;
    padding: 40px;
  }

  .contact-page .location-details {
    text-align: center;
    padding: 40px;
  }

  .contact-page .location-details .map-wrapper {
    padding-bottom: 20px;
  }

  .map-wrapper > div {
    height: 350px;
    width: 380px;
  }

  .create-form .submit-form {
    width: 100%;
    background-color: #1B1A1A;
    color: white;
    padding: 12px 5px;
    margin: 15px 0;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

}

@media only screen  and (min-width: 736px) {
  .xs-only{
    display: none !important;
  }
}

@media only screen  and (min-width: 999px) {
  .sm-only{
    display: none !important;
  }
}

@media only screen and (max-width: 736px) {
  .hide-xs {
    display: none !important;
  }

  .projects-row .box {
    flex: 100%;
  }

  .App .cta-button {
    width: 50%;
  }

  .App .app-intro {
    font-size: 28px;
  }

  .resume-page .cta-button {
    width: 27%;
  }

  .projects-page {
    padding: 40px 0px 20px 0px;
  }

  .projects-page .about-me {
    padding: 10px 40px 0px 40px;
    color: #333333;
  }

  .footer .fa-socials .fa {
    padding: 5px 15px 15px 10px;
  }

  .footer .fa-socials .fa-2x {
    font-size: 1.8em;
  }

  .footer .fa-socials a {
    color: white;
    text-decoration: none;
  }

  .footer {
    height: 100px;
  }

  .App-header {
    padding: 10px 30px;
  }

  .App .topnav ul li {
    background: transparent;
    border: 1px solid black;
  }

  .App .topnav ul #no-border {
    border-top: 0px;
    border-bottom: 0px;
  }

  .xs-only ul  {
    transition: all 2s ease-in-out;
  }
  .xs-only .closed {
    transition: all 2s ease-in-out;
  }

  .topnav ul {
    padding: 0px;
    text-align: center;
  }

  .topnav ul li {
    display: block;
    padding: 10px 10px;
    background-color: #1B1A1A;
    /* background: linear-gradient(216deg, #DA0B8F, #A100CD, #5300DA); */
    margin: 0px;
    font-size: 1.3em;
    clear: both;
    z-index: 100;
    border-top: 1px solid rgba(245, 245, 245, 0.1);
  }

  .contact-page .contact-form {
    margin: 0px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer .pull-left {
    float: none;
    text-align: center;
  }

  .footer .pull-right {
    float: none;
    text-align: center;
  }

}
/* ---------- */
