.App-logo {
  height: 70px;
  padding-top: 5px;
}

.fa {
  padding: 0px 10px;
}

.fa-socials {
  color: white;
  padding: 20px 0px;
}

.App {
  background: linear-gradient(216deg, #DA0B8F, #A100CD, #5300DA);
  height: 940px;
}
.App .App-header {
  background-color: transparent;
}

.App-header {
  background-color: black;
  padding: 10px 80px;
  color: white;
  height: 80px;
  text-align: center;
}

.App-header .logo-img {
  display: inline-block;
  float: left;
}

.App-header .fa-socials {
  display: inline-block;
  float: right;
}

.App-header .site-map {
  display: inline-block;
}

.app-intro {
  font-weight: normal;
}

/* .app-intro .typewriter {
  color: black;
} */

.topnav ul {
  margin: 0px;
  padding: 30px 0px;
}

.topnav ul li {
  display: inline;
  padding: 0px 15px;
  margin: 0px;
  font-size: 1.3em;
}

.topnav ul li a:hover {
  color: #ddd;
}

.topnav a {
  color: white;
  text-decoration: none;
}

.burger-menu {
  padding: 20px 0px;
}

.App {
  text-align: center;
}

.App .app-intro {
  font-size: 36px;
}

.intro {
  height: 700px;
  padding-top: 120px;
  color: white;
}

.intro h1 {
  font-size: 48px;
  margin-left: 0px;
  font-weight: 500;
}

.cta-button {
  width: 30%;
  background-color: transparent;
  color: white;
  padding: 12px 5px;
  margin: 8px 0;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 20px;
}

.cta-button:hover {
  background-color: white;
  border: none;
  color: #A100CD;
}
.cta-button a {
  text-decoration: none;
  color: white;
}
.cta-button:hover a {
  text-decoration: none;
}

.contact-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
}

.contact-page .contact-form {
  border: 1px solid blue;
  padding: 50px;
}

.contact-page .location-details {
  border: 1px solid red;
  padding: 50px;
}

.map-wrapper > div {
  height: 300px;
  width: 320px;
}



.footer {
  text-align: center;
  height: 40px;
  background-color: #1B1A1A;
  color: white;
  padding: 20px 20px 0px 20px;
}


.about-page {
  text-align: center;
}

.projects-page {
  text-align: center;
}

.resume-page {
  text-align: center;
  margin: 0px auto;
}

.resume {
  padding: 20px 0px;
}

.resume > canvas {
  border: 1px solid black;
}

.contact-page {
  text-align: center;
}

/* iPhone (up to 6+ )*/
@media only screen  and (max-width: 999px) {
  .hide-sm{
    display: none !important;
  }
}

@media only screen  and (min-width: 736px) {
  .xs-only{
    display: none !important;
  }
}

@media only screen and (max-width: 736px) {
    .hide-xs {
      display: none !important;
    }

    .App-header {
      padding: 10px 30px;
    }
}
/* ---------- */
