.topnav {
  display: inline;
}

.App-logo {
  height: 70px;
  float: left;
}

.fa {
  padding: 0px 10px;
}

.fa-socials {
  color: white;
  float: right;
  overflow: hidden;
  padding: 20px 0px;
}

.App-header {
  background-color: black;
  padding: 10px 80px;
  color: white;
  height: 80px;
}

.App-header img {
  float: left;
}

.App-intro {
  font-size: large;
}

.topnav ul {
  margin: 0px;
  padding: 30px 0px;
  display: inline-block;
}

.topnav ul li {
  display: inline;
  padding: 0px 15px;
  margin: 0px;
  font-size: 1.3em;
  font-family: Myriad Pro, Open Sans, Helvetica Neue, sans-serif;
}

.topnav ul li a:hover {
  color: #ddd;
}

.topnav a {
  color: white;
  text-decoration: none;
}

.footer {
  text-align: center;
  height: 40px;
  background-color: #1B1A1A;
  color: white;
  padding: 20px 20px 0px 20px;
}
